alertmanager:
  enabled: false
grafana:
  enabled: true
prometheus-node-exporter:
  enabled: false
prometheus-adapter:
  enabled: false
kube-state-metrics:
  enabled: false

# 2. Configure Prometheus
prometheus:
  # C: DRIVE FIX
  # We give it a tiny 2Gi disk, not the 100Gi default
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi # <-- The Fix